
body {
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  font-family: 'Montserrat',sans-serif;
}
.container{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
form{
  background: rgba(255, 255,255, 0.3);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left:1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  backdrop-filter:blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}
.we
{
  margin: 20px;
  font-size: 40px;
}
.we span:nth-child(1){
  color:#FDD017;
}

.we span:nth-child(2){
  color:#87F717;
}

.we span:nth-child(3){
  color:	#5FFB17;
}

.we span:nth-child(4){
  color:	#59E817;
}

.we span:nth-child(5){
  color:#C7A317;
}
.we span:nth-child(6){
  color:	#8AFB17;
}

.we span:nth-child(7){
  color:	#B1FB17;
}




&:hover {
  text-shadow: 2px 2px 6px #00000040;
}
&:active{
  text-shadow: none;
}
input{
  background: transparent;
  width: 200px;
  padding:1em;
  margin-bottom: 2em;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-radius: 5000px;
  backdrop-filter:blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color:#fff;
  font-family: 'Montserrat',sans-serif;
  font-weight:  bold;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);

}
&:hover{
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}
&[type="text"],{
&[type="email"] {
  &:focus{
    background:rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
  }
}
&[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem

  &:hover {
    cursor:pointer;
}
&:active{
  background: rgba(255, 20, 20, 0.2);
}
}
}
::placeholder{
  font-family:  'Montserrat',sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.drops{
  background: rgba(255, 0, 0, 0.5);
